<div class="container">
  <div class="section">
    <img src="../../assets/images/logo.png" width="85%" />

    <div class="video-container">
      <div class="color-overlay"></div>
      <video autoplay loop muted>
        <source src="../../assets/videos/background-2.mp4" type="video/mp4" />
        <source src="../../assets/videos/background-2.ogg" type="video/ogg" />
      </video>
    </div>
  </div>

  <div class="section">
    <div>
      <img src="../../assets/images/logo.png" />
    </div>
    <div class="content">
      JaneTech provides world class design and development services specializing
      in highly complex digital experiences.
    </div>
    <div class="content">
      We have years of success building widely functional, beautifully designed
      products at scale
    </div>
  </div>
  <div class="section">
    <div class="connect">Connect</div>
  </div>
</div>
