<div class="container">
  <div class="section">
    <img src="../../assets/images/logo.png" width="85%" />

    <div class="video-container">
      <div class="color-overlay"></div>
      <video autoplay loop muted>
        <source
          src="../../assets/videos/background.mp4"
          type="video/mp4"
          poster="../../assets/images/background-poster.jpeg"
        />
      </video>
    </div>
  </div>

  <div class="section">
    <div>
      <img src="../../assets/images/logo.png" />
    </div>
    <div class="content">
      JaneTech provides world class design and development services specializing
      in highly complex digital experiences.
    </div>
    <div class="content">
      We have years of success building widely functional, beautifully designed
      products at scale
    </div>
  </div>
  <div class="section">
    <div>
      <img src="../../assets/images/logo.png" />
    </div>
    <div class="content">
      <div class="connect">Connect</div>
    </div>
    <div class="content">
      <div class="action">
        Hello@JaneTech.io
        <div class="conversation">
          We’re always open to have a conversation.
        </div>
      </div>
    </div>
  </div>
</div>
